// brightness widget
.brightness_button_container__btn {
  @include unset;
  @include create_button;

  padding-top: 0.4rem;
  padding-bottom: 0.2rem;

  margin-bottom: 10px;
}
.brightness_icon__icn {
  font-size: $icon_size;
  padding-bottom: 0.4rem;
}
.brightness_level__lbl {
  color: #d3c6aa;
  font-size: $font_size;
}
