// window title widget
.window_title__btn {
  @include unset;
  @include create_button;

  margin-bottom: 20px;
  margin-bottom: 20px;
}
.window_title__lbl {
  color: #d3c6aa;
  /* @include create_border(#d3c6aa); */

  font-size: $font_size * 0.9;
  font-style: italic;
  font-weight: 600;
}
