// window title widget
.window_title__btn {
  @include unset;
  @include create_button;

  margin-top: 10px;
  margin-bottom: 20px;
}
.window_title__lbl {
  color: $label_fg;
  /* @include create_border($window_title_border); */

  font-size: $font_size * 0.9;
  font-style: italic;
  font-weight: 600;
}
