.clock_button_container__btn {
  all: unset;
  border-radius: 0px 20px 20px 0px;
  min-width: 1.8rem;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: all 0.5s ease-in-out;
  /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); */
  background: #374145;
  margin-top: 5px;
  margin-bottom: 10px;
  /* &:hover { */
  /*   border-color: $clock_border; */
  /* } */ }
  .clock_button_container__btn:active {
    background-color: #d3c6aa; }
  .clock_button_container__btn:hover {
    background-color: rgba(211, 198, 170, 0.1);
    box-shadow: inset 0 0 0 0.02rem;
    border-bottom: 0.15rem solid #d3c6aa; }

.clock_icon__lbl {
  background: #e69875;
  color: #374145;
  font-size: 174.8%;
  border-radius: 0px 20px 20px 0px; }

.clock_string__lbl {
  all: unset;
  color: #e69875;
  border-left: 0.2rem solid #e69875;
  font-size: 95%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem; }

.window_title__btn {
  all: unset;
  border-radius: 0px 20px 20px 0px;
  min-width: 1.8rem;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: all 0.5s ease-in-out;
  /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); */
  margin-top: 10px;
  margin-bottom: 20px; }
  .window_title__btn:active {
    background-color: #d3c6aa; }
  .window_title__btn:hover {
    background-color: rgba(211, 198, 170, 0.1);
    box-shadow: inset 0 0 0 0.02rem;
    border-bottom: 0.15rem solid #d3c6aa; }

.window_title__lbl {
  color: #d3c6aa;
  /* @include create_border($window_title_border); */
  font-size: 85.5%;
  font-style: italic;
  font-weight: 600; }

.workspace_container__box {
  all: unset;
  border-left: 0.2rem solid #a7c080;
  margin-bottom: 10px; }

.workspace_item_container__btn {
  all: unset;
  border-radius: 0px 20px 20px 0px;
  min-width: 1.8rem;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: all 0.5s ease-in-out;
  /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); */ }
  .workspace_item_container__btn:active {
    background-color: #d3c6aa; }
  .workspace_item_container__btn:hover {
    background-color: rgba(211, 198, 170, 0.1);
    box-shadow: inset 0 0 0 0.02rem;
    border-bottom: 0.15rem solid #d3c6aa; }
  .workspace_item_container__btn:hover {
    color: #a7c080;
    border-color: #a7c080; }

.workspace_item__box {
  border-radius: 0px 20px 20px 0px; }
  .workspace_item__box.workspace_item_active__box {
    background: #3c4848; }
    .workspace_item__box.workspace_item_active__box .workspace_icon__lbl {
      background: #a7c080;
      color: #3c4848; }

.workspace_icon__lbl {
  font-size: 174.8%;
  border-radius: 0px 20px 20px 0px; }

.workspace_client_count__lbl {
  color: #a7c080;
  font-size: 95%;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem; }

/* system-tray widget */
.systray_container__box {
  all: unset;
  background: #414b50;
  border-radius: 0px 20px 20px 0px; }

.systray_button_icon__btn {
  all: unset;
  border-radius: 0px 20px 20px 0px;
  min-width: 1.8rem;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: all 0.5s ease-in-out;
  /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); */
  padding-top: 0.4rem;
  padding-bottom: 0.4rem; }
  .systray_button_icon__btn:active {
    background-color: #d3c6aa; }
  .systray_button_icon__btn:hover {
    background-color: rgba(211, 198, 170, 0.1);
    box-shadow: inset 0 0 0 0.02rem;
    border-bottom: 0.15rem solid #d3c6aa; }

.systray_icon__icn {
  all: unset;
  font-size: 109.25%; }

.systray_reveal_button__btn {
  all: unset;
  border-radius: 0px 20px 20px 0px;
  min-width: 1.8rem;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: all 0.5s ease-in-out;
  /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); */
  background: #414b50;
  font-size: 139.84%;
  margin-top: 0.2rem;
  margin-bottom: 10px; }
  .systray_reveal_button__btn:active {
    background-color: #d3c6aa; }
  .systray_reveal_button__btn:hover {
    background-color: rgba(211, 198, 170, 0.1);
    box-shadow: inset 0 0 0 0.02rem;
    border-bottom: 0.15rem solid #d3c6aa; }

/* wifi widget */
.wifi_container__btn {
  all: unset;
  border-radius: 0px 20px 20px 0px;
  min-width: 1.8rem;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: all 0.5s ease-in-out;
  /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); */
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-bottom: 10px; }
  .wifi_container__btn:active {
    background-color: #d3c6aa; }
  .wifi_container__btn:hover {
    background-color: rgba(211, 198, 170, 0.1);
    box-shadow: inset 0 0 0 0.02rem;
    border-bottom: 0.15rem solid #d3c6aa; }

.wifi_icon__icn {
  font-size: 109.25%;
  color: #d3c6aa; }

.volume_button_container__btn {
  all: unset;
  border-radius: 0px 20px 20px 0px;
  min-width: 1.8rem;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: all 0.5s ease-in-out;
  /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); */
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;
  margin-bottom: 10px; }
  .volume_button_container__btn:active {
    background-color: #d3c6aa; }
  .volume_button_container__btn:hover {
    background-color: rgba(211, 198, 170, 0.1);
    box-shadow: inset 0 0 0 0.02rem;
    border-bottom: 0.15rem solid #d3c6aa; }

.volume_icon__icn {
  font-size: 109.25%;
  padding-bottom: 0.4rem; }

.volume_level__lbl {
  color: #d3c6aa;
  font-size: 95%; }

.brightness_button_container__btn {
  all: unset;
  border-radius: 0px 20px 20px 0px;
  min-width: 1.8rem;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: all 0.5s ease-in-out;
  /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); */
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;
  margin-bottom: 10px; }
  .brightness_button_container__btn:active {
    background-color: #d3c6aa; }
  .brightness_button_container__btn:hover {
    background-color: rgba(211, 198, 170, 0.1);
    box-shadow: inset 0 0 0 0.02rem;
    border-bottom: 0.15rem solid #d3c6aa; }

.brightness_icon__icn {
  font-size: 109.25%;
  padding-bottom: 0.4rem; }

.brightness_level__lbl {
  color: #d3c6aa;
  font-size: 95%; }

.battery_container__box {
  border-radius: 0px 20px 20px 0px;
  margin-bottom: 5px; }
  .battery_container__box:not(.battery_container_charging__box) {
    background: #384b55; }
  .battery_container__box.battery_container_charging__box {
    background: #4c3743; }

.battery_level__lbl {
  font-size: 95%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem; }
  .battery_level__lbl:not(.battery_level_charging__lbl) {
    color: #6fbbb3;
    border-left: 0.2rem solid #7fbbb3; }
  .battery_level__lbl.battery_level_charging__lbl {
    color: #e67e79;
    border-left: 0.2rem solid #e67e79; }

.battery_icon__icn {
  color: #384b55;
  font-size: 131.1%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0px 20px 20px 0px; }
  .battery_icon__icn:not(.battery_icon_charging__icn) {
    background: #7fbbb3; }
  .battery_icon__icn.battery_icon_charging__icn {
    background: #e67e79; }

.window_bar {
  background-color: rgba(39, 46, 51, 0.2);
  color: #d3c6aa;
  border-radius: 0px 20px 20px 0px; }
