window {
  &.bar {
    background-color: rgba(39, 46, 51, 0.3);
    color: #d3c6aa;
    // opacity: 0.5;
    // top-left top-right bottom-right bottem-left
    border-radius: 0px 30px 30px 0px;
  }
}

levelbar {
  block,
  highlight {
    min-height: 10px;
  }
}

label {
  font-family: Iosevka;
}

button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  /* border-radius: 20px; */
  border-radius: 0px 20px 20px 0px;
  transition: all 0.5s ease-in-out;
  /* transition: all 0.5s cubic-bezier(0.68,-0.55,0.27,1.55); */
  &:active {
    background-color: #d3c6aa;
  }
  &:hover {
    /* background-color: #d3c6aa; */
    /* color: #272e33; */
    border-bottom: 3px solid #d3c6aa;
  }
}

/* clock widget */
.clock_box {
  background: #374145;
  color: #e69875;
  // top-left top-right bottom-right bottem-left
  border-radius: 0px 20px 20px 0px;
  margin-bottom: 20px;
}

.clock_icon {
  background: #e69875;
  color: #374145;
  // top-left top-right bottom-right bottem-left
  border-radius: inherit;
  font-size: 35px;
}

.clock_label {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-left: 5px solid #e69875;
}

/* client title widget */
.client_title_box {
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 10px;
  // border-left: 5px solid #d3c6aa;
}

/* workspace widget */
.workspace_box {
  margin-bottom: 10px;
}

.workspace {
  border-left: 5px solid #a7c080;
  border-radius: 0px 20px 20px 0px;
  &.workspace_active {
    background: #3c4848;
    .workspace_icon {
      background: #a7c080;
      color: #3c4848;
      border-left: unset;
      border-radius: inherit;
    }
  }
}

.workspace_icon {
  font-size: 35px;

  &:hover {
    color: #a7c080;
    border-radius: 0px 20px 20px 0px;
  }
}

.workspace_client_count {
  color: #a7c080;
  margin-top: 1px;
  font-size: 20px;
  // font-weight: bold;
}

/* system-tray widget */
.sys_tray_box {
  background: #414b50;
  /* border-radius: 20px; */
  border-radius: 0px 20px 20px 0px;
}

.sys_tray_icon {
  font-size: 23px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: inherit;
}

.sys_tray_reveal_button {
  background: #495156;
  // opacity: 0.8;
  font-size: 30px;
  /* border-radius: 20px; */
  margin-top: 5px;
  margin-bottom: 10px;
}

.sys_tray_reveal_box {
  .sys_tray_reveal,
  .sys_tray_reveal_space {
    padding: 0px;
    margin: 0px;
  }
}

/* wifi widget */
.wifi_box {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.wifi_icon {
  font-size: 23px;
}

.wifi_label {
  font-size: 20px;
}

/* volume widget */
.volume_box {
  // border-bottom: 2px solid #d3c6aa;
  border-radius: 20px;
}

.volume_button {
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: inherit;
}

.volume_label {
  color: #d3c6aa;
  font-size: 20px;
  padding-bottom: 10px;
  border-radius: inherit;
}

/* brightness widget */
.brightness_box {
  // border-bottom: 2px solid #d3c6aa;
  border-radius: 20px;
}

.brightness_button {
  font-size: 23px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: inherit;
}

.brightness_label {
  color: #d3c6aa;
  font-size: 20px;
  padding-bottom: 10px;
  border-radius: inherit;
}

/* battery widget */
.battery_box {
  margin-bottom: 10px;
  // top-left top-right bottom-right bottem-left
  border-radius: 0px 20px 20px 0px;
  &:not(.battery_charging_box) {
    background: #384b55;
  }
}

.battery_icon {
  color: #384b55;
  font-size: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: inherit;
  &:not(.battery_charging_icon) {
    background: #7fbbb3;
  }
}

.battery_label {
  color: #7fbbb3;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  &:not(.battery_charging_label) {
    border-left: 5px solid #7fbbb3;
  }
}

.battery_charging_box {
  background: #4c3743;
}

.battery_charging_label {
  color: #e67e80;
  border-left: 5px solid #e67e80;
}

.battery_charging_icon {
  background: #e67e80;
}
