@mixin create_border($color: #d3c6aa) {
  border-left: 0.2rem solid $color;
}

$font: Iosevka;

$font_size: 95%;
$icon_size: $font_size * 1.15;
$icon_glyph_size: $icon_size * 1.6;

// top-left top-right bottom-right bottem-left
$border_radius: 0px 20px 20px 0px;

.window_bar {
  background-color: rgba(#272e33, 0.4);
  color: #d3c6aa;

  border-radius: $border_radius;
}

button {
  transition: all 0.5s ease-in-out;
  // transition: all 0.5s cubic-bezier(0.68,-0.55,0.27,1.55);

  &:active {
    background-color: #d3c6aa;
  }
  &:hover {
    background-color: rgba(#d3c6aa, 0.1);
    border-bottom: 0.15rem solid #d3c6aa;
  }
}

/* clock widget */
.clock_button_container__btn {
  all: unset;

  background: #374145;

  border-radius: $border_radius;

  margin-top: 5px;
  margin-bottom: 10px;
}
.clock_icon__lbl {
  all: unset;

  background: #e69875;
  color: #374145;

  font-size: $icon_glyph_size;
  border-radius: $border_radius;
}
.clock_string__lbl {
  all: unset;

  color: #e69875;
  @include create_border(#e69875);

  font-size: $font_size * 1;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

/* client title widget */
.window_title__btn {
  all: unset;

  border-radius: $border_radius;
  margin-bottom: 10px;
}
.window_title__lbl {
  color: #d3c6aa;
  @include create_border(#d3c6aa);

  font-size: $font_size * 0.9;
  font-style: italic;
  font-weight: 600;
}

// workspace widget
// contains all workspace items;
.workspace_container__box {
  all: unset;

  @include create_border(#a7c080);

  margin-bottom: 10px;
}
// button widget that contains a workspace item
.workspace_item_container__btn {
  all: unset;

  border-radius: $border_radius;

  &:hover {
    color: #a7c080;
  }
}
// contains a workspace's icon and client-count
.workspace_item__box {
  border-radius: $border_radius;

  // for the workspace item that is currently focused
  &.workspace_item_active__box {
    background: #3c4848;

    .workspace_icon__lbl {
      background: #a7c080;
      color: #3c4848;
    }
  }
}
// a workspace's icon
.workspace_icon__lbl {
  font-size: $icon_glyph_size;
  border-radius: $border_radius;
}
// a workspace's client-count
.workspace_client_count__lbl {
  color: #a7c080;

  font-size: $font_size * 1;
  margin-top: 0.1rem;
}

/* system-tray widget */
// contains all systray icons
.systray_container__box {
  all: unset;

  background: #414b50;
  border-radius: $border_radius;
}
// individual systray icons
.systray_icon__icn {
  all: unset;

  font-size: $icon_size;

  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
// button to reveal the systray revealer
.systray_reveal_button__btn {
  all: unset;

  background: #495156;

  font-size: $icon_glyph_size * 0.8;
  border-radius: $border_radius;
  margin-top: 0.2rem;

  margin-bottom: 10px;
}

/* wifi widget */
.wifi_container__btn {
  all: unset;

  border-radius: $border_radius;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;

  margin-bottom: 10px;
}
.wifi_icon__icn {
  font-size: $icon_size;
}

// volume widget
.volume_button_container__btn {
  all: unset;

  border-radius: $border_radius;
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;

  margin-bottom: 10px;
}
.volume_icon__icn {
  font-size: $icon_size;
  padding-bottom: 0.4rem;
}
.volume_level__lbl {
  color: #d3c6aa;
  font-size: $font_size;
}

// brightness widget
.brightness_button_container__btn {
  all: unset;

  border-radius: $border_radius;
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;

  margin-bottom: 10px;
}
.brightness_icon__icn {
  font-size: $icon_size;
  padding-bottom: 0.4rem;
}
.brightness_level__lbl {
  color: #d3c6aa;
  font-size: $font_size;
}

// battery widget
.battery_container__box {
  border-radius: $border_radius;

  margin-bottom: 5px;

  &:not(.battery_container_charging__box) {
    background: #384b55;
  }
  &.battery_container_charging__box {
    background: #4c3743;
  }
}
.battery_level__lbl {
  font-size: $font_size;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;

  &:not(.battery_level_charging__lbl) {
    color: #6fbbb3;
    @include create_border(#7fbbb3);
  }
  &.battery_level_charging__lbl {
    color: #e67e79;
    @include create_border(#e67e80);
  }
}
.battery_icon__icn {
  color: #384b55;

  font-size: $icon_size * 1.2;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: $border_radius;

  &:not(.battery_icon_charging__icn) {
    background: #7fbbb3;
  }
  &.battery_icon_charging__icn {
    background: #e67e80;
  }
}
